# MPP Server Secret Key (used to sign challenges)
MPP_SECRET_KEY=

# DOMA chain funder accounts
DOMA_TESTNET_FUNDER_KEY=
DOMA_TESTNET_FUNDER_ADDRESS=0xda8825c49EF902F704122D63EA87CD04D9F1e682
DOMA_TESTNET_API_KEY=
DOMA_TESTNET_API_URL=https://api-testnet.d3.app/
DOMA_TESTNET_PAYMENT_CONTRACT=0x9aC6761B5A1006E09C60a0BE10cd1C9d32911e96
DOMA_TESTNET_USDC_TOKEN=0x2f3463756C59387D6Cd55b034100caf7ECfc757b

# just using same as testnet for funder wallet
DOMA_MAINNET_FUNDER_KEY=
DOMA_MAINNET_FUNDER_ADDRESS=0xda8825c49EF902F704122D63EA87CD04D9F1e682
DOMA_MAINNET_API_KEY=
DOMA_MAINNET_API_URL=https://api-public.d3.app/
DOMA_MAINNET_PAYMENT_CONTRACT=0xD000000000002C74F45Adc7b59d48dCE207eAcd2
DOMA_MAINNET_USDC_TOKEN=0x31EEf89D5215C305304a2fA5376a1f1b6C5dc477
