# MPP Server Secret Key (used to sign challenges)
MPP_SECRET_KEY=

# Tempo testnet accounts (funded with 1M testnet PathUSD each)
NEXT_PUBLIC_TESTNET_TEMPO_KEY_1=0x82b5026ee9b99293bc2dfde825d9953db508266d9557c572d530ceb09405149c
NEXT_PUBLIC_TESTNET_TEMPO_ADDRESS_1=0xF11f3F2613eF76C60F2Df1568040d4029deF3691

# Tempo addresses allowed to register domains on DOMA mainnet (comma-separated)
ALLOWED_DOMA_MAINNET_ADDRESSES=0x17ae28d21f80a1082eE3C54AcB03769B09d42DA8

# DOMA chain funder accounts
DOMA_TESTNET_FUNDER_KEY=
DOMA_TESTNET_FUNDER_ADDRESS=0xda8825c49EF902F704122D63EA87CD04D9F1e682
DOMA_TESTNET_API_KEY=
DOMA_TESTNET_API_URL=https://api-testnet.d3.app/
DOMA_TESTNET_PAYMENT_CONTRACT=0x9aC6761B5A1006E09C60a0BE10cd1C9d32911e96
DOMA_TESTNET_USDC_TOKEN=0x2f3463756C59387D6Cd55b034100caf7ECfc757b

# just using same as testnet for funder wallet
DOMA_MAINNET_FUNDER_KEY=
DOMA_MAINNET_FUNDER_ADDRESS=0xda8825c49EF902F704122D63EA87CD04D9F1e682
DOMA_MAINNET_API_KEY=
DOMA_MAINNET_API_URL=https://api-public.d3.app/
DOMA_MAINNET_PAYMENT_CONTRACT=0xD000000000002C74F45Adc7b59d48dCE207eAcd2
DOMA_MAINNET_USDC_TOKEN=0x31EEf89D5215C305304a2fA5376a1f1b6C5dc477
